a!cardLayout(
contents: {
  a!richTextDisplayField(
    labelPosition: "COLLAPSED",
    value: {
      a!richTextItem(
        text: {
          a!richTextIcon(
            icon: "angle-left"
          ),
          "Back to home"
        },
        link: a!dynamicLink(),
        color: "#DA0011"
      )
    }
  ),
  a!sideBySideLayout(
    items: {
      a!sideBySideItem(
        item: a!richTextDisplayField(
          labelPosition: "COLLAPSED",
          value: {
            a!richTextItem(
              text: { "About You" },
              size: "MEDIUM",
              style: { "STRONG" }
            )
          }
        )
      ),
      a!sideBySideItem(
        item: a!richTextDisplayField(
          labelPosition: "COLLAPSED",
          value: { "Edit" },
          align: "RIGHT"
        )
      )
    },
    marginAbove: "STANDARD",
    marginBelow: "EVEN_LESS"
  ),
  a!cardLayout(
    contents: {
      a!sectionLayout(
        label: "",
        contents: {
          a!columnsLayout(
            columns: {
              a!columnLayout(
                contents: {
                  a!richTextDisplayField(
                    labelPosition: "COLLAPSED",
                    value: {
                      a!richTextItem(text: "Your location", color: "#000000"),
                      char(10),
                      a!richTextItem(
                        text: "United Kingdom",
                        color: "#000000",
                        style: "STRONG"
                      )
                    }
                  )
                }
              ),
              a!columnLayout(
                contents: {
                  a!richTextDisplayField(
                    labelPosition: "COLLAPSED",
                    value: {
                      a!richTextItem(text: "Legal entity", color: "#000000"),
                      char(10),
                      a!richTextItem(
                        text: "HBUK",
                        color: "#000000",
                        style: "STRONG"
                      )
                    }
                  )
                }
              ),
              a!columnLayout(contents: {})
            }
          )
        },
        divider: "BELOW",
        dividerWeight: "THIN",
        dividerColor: "#999999"
      ),
      a!sectionLayout(
        label: "",
        contents: {
          a!columnsLayout(
            columns: {
              a!columnLayout(
                contents: {
                  a!richTextDisplayField(
                    labelPosition: "COLLAPSED",
                    value: {
                      a!richTextItem(
                        text: "Your businessline",
                        color: "#000000"
                      ),
                      char(10),
                      a!richTextItem(
                        text: "Commercial Banking",
                        color: "#000000",
                        style: "STRONG"
                      )
                    }
                  )
                }
              ),
              a!columnLayout(
                contents: {
                  a!richTextDisplayField(
                    labelPosition: "COLLAPSED",
                    value: {
                      a!richTextItem(text: "Your subline", color: "#000000"),
                      char(10),
                      a!richTextItem(
                        text: "CCB",
                        color: "#000000",
                        style: "STRONG"
                      )
                    }
                  )
                }
              ),
              a!columnLayout(
                contents: {
                  a!richTextDisplayField(
                    labelPosition: "COLLAPSED",
                    value: {
                      a!richTextItem(
                        text: "Your product type",
                        color: "#000000"
                      ),
                      char(10),
                      a!richTextItem(
                        text: "Xyzzy",
                        color: "#000000",
                        style: "STRONG"
                      )
                    }
                  )
                }
              )
            }
          )
        }
      )
    },
    height: "AUTO",
    style: "#f5f6f7",
    padding: "MORE",
    marginBelow: "STANDARD",
    showBorder: false
  ),
  a!sideBySideLayout(
    items: {
      a!sideBySideItem(
        item: a!richTextDisplayField(
          labelPosition: "COLLAPSED",
          value: {
            a!richTextItem(
              text: { "Query Category/Risk Type" },
              size: "MEDIUM",
              style: { "STRONG" }
            )
          }
        )
      ),
      a!sideBySideItem(
        item: a!richTextDisplayField(
          labelPosition: "COLLAPSED",
          value: { "Edit" },
          align: "RIGHT"
        )
      )
    },
    marginAbove: "STANDARD",
    marginBelow: "EVEN_LESS"
  ),
  a!cardLayout(
    contents: {
      a!columnsLayout(
        columns: {
          a!columnLayout(
            contents: {
              a!richTextDisplayField(
                labelPosition: "COLLAPSED",
                value: {
                  a!richTextItem(
                    text: "Category(risk type)",
                    color: "#000000"
                  ),
                  char(10),
                  a!richTextItem(
                    text: "Regulatory Compliance",
                    color: "#000000",
                    style: "STRONG"
                  )
                }
              )
            }
          ),
          a!columnLayout(
            contents: {
              a!richTextDisplayField(
                labelPosition: "COLLAPSED",
                value: {
                  a!richTextItem(
                    text: "Regulatory Complaince query type",
                    color: "#000000"
                  ),
                  char(10),
                  a!richTextItem(
                    text: "New Product Due Deligiance(NPDD)",
                    color: "#000000",
                    style: "STRONG"
                  )
                }
              )
            }
          ),
          a!columnLayout(contents: {})
        }
      ),
      a!columnsLayout(
        columns: {
          a!columnLayout(
            contents: {
              a!richTextDisplayField(
                labelPosition: "COLLAPSED",
                value: {
                  a!richTextItem(text: "", color: "#000000"),
                  char(10),
                  a!richTextItem(
                    text: "Lorem ipsum dolor",
                    color: "#000000",
                    style: "STRONG"
                  )
                }
              )
            }
          ),
          a!columnLayout(
            contents: {
              a!richTextDisplayField(
                labelPosition: "COLLAPSED",
                value: {
                  a!richTextItem(
                    text: "Product/Service Owner",
                    color: "#000000"
                  ),
                  char(10),
                  a!richTextItem(
                    text: "Lorem Ipsum",
                    color: "#000000",
                    style: "STRONG"
                  )
                }
              )
            }
          ),
          a!columnLayout(contents: {})
        }
      ),
      a!columnsLayout(
        columns: {
          a!columnLayout(
            contents: {
              a!richTextDisplayField(
                labelPosition: "COLLAPSED",
                value: {
                  a!richTextItem(text: "Channel", color: "#000000"),
                  char(10),
                  a!richTextItem(
                    text: "Channel 1",
                    color: "#000000",
                    style: "STRONG"
                  )
                }
              )
            }
          ),
          a!columnLayout(
            contents: {
              a!richTextDisplayField(
                labelPosition: "COLLAPSED",
                value: {
                  a!richTextItem(text: "Form type", color: "#000000"),
                  char(10),
                  a!richTextItem(
                    text: "Form 1",
                    color: "#000000",
                    style: "STRONG"
                  )
                }
              )
            }
          ),
          a!columnLayout(contents: {})
        }
      )
    },
    height: "AUTO",
    style: "#f5f6f7",
    padding: "MORE",
    marginBelow: "STANDARD",
    showBorder: false
  ),
  a!sideBySideLayout(
    items: {
      a!sideBySideItem(
        item: a!richTextDisplayField(
          labelPosition: "COLLAPSED",
          value: {
            a!richTextItem(
              text: { "Query details" },
              size: "MEDIUM",
              style: { "STRONG" }
            )
          }
        )
      ),
      a!sideBySideItem(
        item: a!richTextDisplayField(
          labelPosition: "COLLAPSED",
          value: { "Edit" },
          align: "RIGHT"
        )
      )
    },
    marginAbove: "STANDARD",
    marginBelow: "EVEN_LESS"
  ),
  a!cardLayout(
    contents: {
      a!richTextDisplayField(
        labelPosition: "COLLAPSED",
        value: {
          a!richTextItem(
            text: "Title of the query goes here",
            color: "#000000",
            style: "STRONG"
          ),
          repeat(2, char(10)),
          a!richTextItem(
            text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.",
            color: "#000000"
          ),
          repeat(2, char(10)),
          a!richTextIcon(icon: "file", color: "SECONDARY"),
          a!richTextItem(text: " File one.pdf")
        }
      )
    },
    height: "AUTO",
    style: "#f5f6f7",
    padding: "MORE",
    marginBelow: "STANDARD",
    showBorder: false
  ),
  a!sideBySideLayout(
    items: {
      a!sideBySideItem(
        item: a!richTextDisplayField(
          labelPosition: "COLLAPSED",
          value: {
            a!richTextItem(
              text: { "Specific Needs" },
              size: "MEDIUM",
              style: { "STRONG" }
            )
          }
        )
      ),
      a!sideBySideItem(
        item: a!richTextDisplayField(
          labelPosition: "COLLAPSED",
          value: { "Edit" },
          align: "RIGHT"
        )
      )
    },
    marginAbove: "STANDARD",
    marginBelow: "EVEN_LESS"
  ),
  a!cardLayout(
    contents: {
      a!columnsLayout(
        columns: {
          a!columnLayout(
            contents: {
              a!richTextDisplayField(
                labelPosition: "COLLAPSED",
                value: {
                  a!richTextItem(
                    text: "I want to keep another colleague informed about this query",
                    color: "#000000"
                  ),
                  char(10),
                  a!richTextItem(
                    text: "Name01@hsbc.com",
                    color: "#000000",
                    style: "STRONG"
                  )
                }
              )
            }
          )
        }
      ),
      a!columnsLayout(
        columns: {
          a!columnLayout(
            contents: {
              a!richTextDisplayField(
                labelPosition: "COLLAPSED",
                value: {
                  a!richTextItem(
                    text: "I would like to send this query to a specific person in compliance team",
                    color: "#000000"
                  ),
                  char(10),
                  a!richTextItem(
                    text: "Name02@hsbc.com",
                    color: "#000000",
                    style: "STRONG"
                  )
                }
              )
            }
          )
        }
      ),
      a!columnsLayout(
        columns: {
          a!columnLayout(
            contents: {
              a!richTextDisplayField(
                labelPosition: "COLLAPSED",
                value: {
                  a!richTextItem(
                    text: "Information Security",
                    color: "#000000"
                  ),
                  char(10),
                  a!richTextItem(
                    text: "Restricted",
                    color: "#000000",
                    style: "STRONG"
                  )
                }
              )
            }
          )
        }
      )
    },
    height: "AUTO",
    style: "#f5f6f7",
    marginBelow: "MORE",
    showBorder: false
  ),
  a!sideBySideLayout(
    items: {
      a!sideBySideItem(
        item: a!checkboxField(
          choiceLabels: {
            "I haven’t added any sensitive data, and accept the terms and conditions"
          },
          choiceValues: { 1 }
        )
      ),
      a!sideBySideItem(
        item: a!richTextDisplayField(
          labelPosition: "COLLAPSED",
          value: {
            a!richTextItem(
              text: { a!richTextIcon(icon: "file-pdf"), " " },
              size: "MEDIUM"
            ),
            "Export as PDF"
          },
          align: "RIGHT",
          marginAbove: "EVEN_LESS"
        ),
        width: "AUTO"
      )
    },
    marginBelow: "STANDARD"
  ),
  a!sideBySideLayout(
    items: {},
    marginAbove: "MORE"
  ),
  a!columnsLayout(
    columns: {
      a!columnLayout(
        contents: {}
      ),
      a!columnLayout(
        contents: {
          a!buttonArrayLayout(
            buttons: {
              a!buttonWidget(label: "CANCEL", style: "NORMAL")
            },
            align: "END"
          )
        },
        width: "WIDE"
      ),
      a!columnLayout(
        contents: {
          a!buttonArrayLayout(
            buttons: {
              a!buttonWidget(label: "Submit", style: "PRIMARY")
            },
            align: "END"
          )
        },
        width: "EXTRA_NARROW"
      )
    }
  )
},
padding: "EVEN_MORE",
showBorder: false()
)