/*common*/
body{
    background-color: #dadada;
}
.loader .loading{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #fff;
}
.no-ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
}
img{
    max-width: 100% !important;
}
h1{
    margin-bottom: 0;
}
.font-40{
    font-size: 40px;
}
.font-16{
    font-size: 16px;
}
.fl{
    float: left;
}
.fr{
    float: right;
}

/*base*/
.listheader{
    min-height: 150px;
}
.dt-wrap {
    padding-bottom: 30px;
}
.appwrap{
    max-width:480px;
    margin: 0 auto;
    background-color: #fff;
}
#header{
    background-color: #F3F3F3!important;
}
#header .navbar{
    padding: 25px;
    padding-bottom: 0;
    background-color: #F3F3F3!important;

}

.active{
    color:#fff;
}
.underline{
    position: absolute;
    height: 30px;
    bottom: 0;
    left: 0;
    z-index: 3;
    display: block;
    background-color: #000;
    transition: 0.2s ease-in-out;
    border-radius: 30px;
}



/*heading*/
.heading{
    color:#fff;
    padding: 30px;
    background:url(images/bmi.jpg) no-repeat center top 50%;
    background-size: cover;
    position: relative;
    min-height: 300px;
}
.heading-content{
    position: absolute;
    z-index: 10;
    left: 29px;
    bottom: 10px;
}
.heading-bg{
    background-color: rgba(0,0,0,0.4);
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.heading span{
    font-size: 20px;
}
.heading h1{
    margin: 0;
    margin-bottom: 20px;
}
.details-wrap{
   
    background-color: #fff;
}
.form-control:focus{
    box-shadow: none !important;
    border-color:#f33590;
}
.input-group{
    margin-bottom: 20px;
    margin-right: 0;
}
.input-group input{
    margin-right: 0;
    height: 60px;
    font-size: 20px;
    padding-left: 0px;
    border: 0;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
    
}
#formDetails .input-group input{
    font-weight: bold;
    font-size: 30px;
}
.input-group input::-webkit-input-placeholder { /* Edge */
    color:#ccc;
  }
  
  .input-group input:-ms-input-placeholder { /* Internet Explorer */
    color:#ccc;
  }
  
  .input-group input::placeholder {
    color:#ccc;
  }
.addtexbox{
    height: 40px;
    border-radius: 0;
    margin-right: 10px;
    box-shadow: none !important;
}
.addtexbox:focus{
    border-color:#f33590;
}
.btn-primary{
    background-color: #f33590;
    border-color:#f33590 !important;
    box-shadow: none !important;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active{
    background-color: #d61e77 !important;
}
.btn-primary .fas
{
    font-size: 14px;
    margin-left: 10px;
    opacity: 0.8;
}

.addbtn{
    font-size: 30px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 0px;
    vertical-align: middle;
    padding: 0;
    padding-bottom: 5px;
    border-radius: 0;
    border: 0;
    color: #fff;
    background-color: #f33590;
    outline: none !important;
    box-shadow: none !important;
}
.addbtn:hover,.addbtn:focus,.addbtn:active
{
    background-color:#de3000;
}
.add-items-wrap
{
    padding: 30px;
    
}
.todolist-wrap{
    min-height: 600px;
}


/* task list */
.task-container{
    position: relative;
    cursor: pointer;
   
    padding: 20px;
    margin: 1px 0;
    
}
.task-container:hover {
    background-color: #fafafa;
}
.task-container:hover .fa-trash{
    opacity: 1;
    background-color: #fafafa;
}
.task-container .task{
    margin: 0px 70px;
}
.task-container .fas{
    position: absolute;
    top: 20px;
    left: 30px;
    width: 30px;
    height: 30px;
    border:1px solid #bbb;
    border-radius:20px;
    padding: 6px;
    text-align: center;
}
.task-container .fas:before {
    opacity: 0;
}
.task-container:hover .fa-trash:before {
    opacity: 1;
}

.task-container .fa-trash{
    left: auto;
    right: 30px;
    opacity: 0.1;
    border: 0;
    color: #de3000;
    font-size: 24px;
    top: 15px;
    
}
.task-container .fa-trash:hover{
    color: #5f0101;
}
.active .task{
    color: #000;
    text-decoration: line-through;
}
.active .fa-check:before{
    opacity: 1;
}
.active .fa-check{
    background-color: #f33590;
    color: #fff;
    border-color: #f33590;
    font-size: 11px;
    padding-top: 10px;
}


.result-wrap{
    border: 1px solid #ccc;
    padding: 20px;
    border-bottom: 10px solid #ccc;
}
.result-wrap h3{
    color: #ccc;
}

.normal{
    border-bottom: 10px solid green;
}
.normal h3{
    color: green;
}

.under{
    border-bottom: 10px solid #e09631;
}
.under h3{
    color: #e09631;
}

.over{
    border-bottom: 10px solid orange;
}
.over h3{
    color: orange;
}

.Obesity{
    border-bottom: 10px solid red;
}
.Obesity h3{
    color: red;
}


@media (min-width: 500px) {
    .appwrap{
        max-width:768px;
    }
    .car-image{
        max-width: 400px;
    }
    
}
@media (max-width: 500px) {
    body{
        background-color: #fff;
    }
    .appcat .no-ul li:last-child{
        display: none;
    }
    .todolist-wrap{
        min-height: 500px;
    }
    .addbtn{
        padding-bottom: 0;
    }
}